*{
    margin: 0%;
    padding: 0%;
}
.absolute{
    display: flex;
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
li{
    display: flex;
    border: 1px solid white;
    width: 200px;
    list-style: none;
    width: 600px;
    height: 300px;
    background-color: orange;
    position: absolute;
}
#hi{
    background-color: white;
    position: absolute;
    right: 590px;
    bottom: 250px;
    img{
        height: 200px;
        width: 150px;
        position: relative;
        top: 80px;
        left: 270px; 
    }
    #img1{
        height: 130px;
        width: 130px;
        position: relative;
        top: 150px;
        left: 290px;
    }
    #p1{
        text-align: justify;
        font-size: 12px;
        width: 180px;
        position: relative;
        right: 220px;
        top: 180px;
        font-family: cursive;
    }
    #p2{
        font-size: 11px;
        font-weight: bold;
        font-family: sans-serif;
        position: relative;
        top: 70px;
        right: 10px;
    }
}
#bye{
    background-color: white;
    position: absolute;
    left: 420px;
    top: 200px;
    #img2{
        width: 200px;
        height: 250px;
        position: relative;
        top: 30px;
        left: 400px;
    }
    h1{
        font-size: 65px;
        font-family: sans-serif;
        position: relative;
        right: 110px;
        /* bottom:; */
        top: 50px;
    }
    p{
        font-size: 12px;   
        text-align: justify;
        font-family: cursive;
        position: relative;
        /* left: 80px; */
        right: 350px;
        top: 180px;
    }

}
